@model IEnumerable<Abc.Entity.Concrete.Category>

@{
    Layout = "_Layout";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Kategori Listesi</title>

</head>
<body>
    <table class="table table-bordered table-hover table-responsive-md table-striped">
        <thead>
            <tr>
                <td>Kategori No</td>
                <td class="">Kategori Adı</td>
                <td>Açıklama</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>