@model Abc.UI.Model.CartSummaryViewModel


<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @foreach (var item in Model.Cart.CartLines)
    {
        <a class="dropdown-item">@item.Product.ProductName (@item.Quantity)  </a>

    }
    <a href="/Cart/CartList" class="dropdown-item text-primary" style="text-align:center">Sepete Git<h7>(Toplam: @Model.Cart.Total TL)</h7></a>
</div>

